<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCRIPT</title>
    
    <link rel="stylesheet" href="/static/css/auth/auth.css">
    <link rel="shortcut icon" href="/static/images/logo/script-logo-transparent.png" type="image/x-icon">
</head>
<body>
    <div class="container-100vh">
        <aside class="left-panel">
            <img src="/static/images/logo/script-logo-transparent.png" height="275" width="275" alt="script-logo">
            <div class="text-container">
                <p><span >Student Coders for Resourceful and Innovative Programming Techniques</span> – Connect, Code, Innovate!</p>
            </div>
        </aside>
        <aside class="right-panel">
            <form action="/api/login" method="POST">
                <div class="text-container">
                    <p><span >Student Coders for Resourceful and Innovative Programming Techniques</span> – Connect, Code, Innovate!</p>
                </div>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password"required>
                <input type="submit" value="Log In">
                <div class="anchor-tags">
                    <a href="signup" style="color: #474747;">Create new account.</a>
                    <a href="forgot-password" style="color: #115083; font-weight: bold;">Forgot password?</a>
                </div>
            </form>
        </aside>
    </div>
</body>
</html>