@import "../global.css";

.left-panel, .right-panel {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-panel .text-container {
    width: 60%;
}

.left-panel p {
    font-size: 1.1rem;
    color: var(--secondary-font);
}

.left-panel span{
    font-weight: bold;
    color: var(--primary-font);
}