<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCRIPT</title>
    
    <link rel="stylesheet" href="/static/css/timeline/friends.css">
    <link rel="shortcut icon" href="/static/images/logo/script-logo-transparent.png" type="image/x-icon">
</head>
<body>
    <!-- not too sure if I should put the nav outside or inside the section below -->
    <!-- nav to header? -->
    <header>
        <!-- the header should be a partial ejs but will do it next time -->
        <nav>
            <!-- will do after the container below -->
            <form action="/api/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
        </nav>
    </header>

    <main class="container">
        <section class="friend-request">
            <h3>Friend Request</h3>
        </section>

        <section class="friend-list">
            
        </section>
    </main>
</body>
</html>